web.css

*{
    margin: 0px;
    padding: 0px;
}

#template
{
    align-items: center;
    width: 100%;
    object-fit: cover;
    /* height: 800px; */
}
#tag
{
    position: absolute;
    top:40px;
    left: 200px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    color: aqua;
    background-color: black;
    text-transform: capitalize;
    font-size: 40px;
    transition: 0.5s;
    
}
#tag:hover{
    transform: scale(1.2);
}
#order
{
    position: absolute;
    top:50px;
    left: 540px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    font-size: 30px;
}
#contact
{
    position: absolute;
    top:50px;
    left: 800px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    font-size: 30px; 
}
#offers
{
    position: absolute;
    top:50px;
    left: 1000px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    font-size: 30px;   
}
#search
{
    position: absolute;
    top:50px;
    left: 1350px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    font-size: 30px; 
    background-color: rgba(255,255,255,0.2); 
    border-color: black;
    font-size: 25px;
}
#copywrite
{
    background-color: rgb(255, 115, 0);
    color:black;
    font-size: large;
}